.button {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: auto;
  gap: 0px 8px;
}

.button-no-loading {
  transition: 0.3s all;

  @apply hover:bg-opacity-90;
}

.button-primary {
  @apply flex text-white place-items-center space-x-[7px] justify-center bg-suportal-blue rounded-[16px] px-[13px] py-[12px];
}

.button-third {
  @apply flex text-white place-items-center space-x-[7px] justify-center bg-suportal-purple rounded-[16px] px-[13px] py-[12px];
}

.button-secondary {
  @apply flex place-items-center space-x-[7px] justify-center bg-suportal-purple rounded-[16px] w-full px-[13px] py-[12px];
}
