@font-face {
  font-family: 'GT Walsheim Pro Bold';
  src: url('/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('/fonts/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "GT Walsheim Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chat-message {
  margin: 5px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 17px;
  max-width: 90%;
  animation: slide-up 0.3s ease-in-out;
  word-wrap: break-word;
  font-size: 14px;
}

textarea:focus {
  outline: none !important;
}

 @keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

